<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Starbucks</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
    <h1>Welcome to Starbucks</h1>
    <link rel="stylesheet" th:href="@{/styles.css}" th:class="center"/>
    <a th:href="@{/design}" id="design"><img th:src="@{/images/StarbucksLogo.png}" th:class="center"/></a>
    
    </br>
  </br>
    <!--p align="center"><a th:href="@{/design}" id="design">Design drink</a></p-->
  </body>
</html>