<!DOCTYPE html>
<html>
  <head>
    <title>Starbucks Online Store</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
  </head>
  <body>
    <main>
      <h1>Online Store</h1>
      <p>this page is private</p>
    </main>
  </body>
</html>
