<!DOCTYPE html>
<html>
  <head>
    <title>Starbucks Online Store</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav id="nav">
      <div class="nav-wrapper white">
        <a
          href="#"
          class="brand-logo left green-text text-darken-3"
          style="padding-left: 2em"
          >Online Store</a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="sass.html" class="black-text left nav-text">Cards</a>
          </li>
          <li><a href="/logout" class="red-text nav-text">Sign Out</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container col flex-center pad header">
        <span id="rewards" class="container flex-center"></span>
        <span
          id="rewards_category"
          class="reward_header green-text text-darken-3"
        ></span>
        <span
          id="rewards_description"
          class="description"
          style="padding-bottom: 2em"
        >
        </span>
      </div>
      <div>
        <div class="grid-container pad flex-center" id="card-list"></div>
        <div style="padding-bottom: 2em">
          <button
            id="checkout-button"
            onclick="add_card();"
            class="container flex-center btn-large transparent"
            style="max-width: 40vw"
          >
            <i class="medium material-icons black-text">add</i>
            <span class="black-text">Add Card</span>
          </button>
        </div>
      </div>
    </main>
    <!-- ALWAYS INCLUDE THESE -->
    <script src="/js/sticky_nav.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- ALWAYS INCLUDE THESE -->

    <script type="module" src="/js/get_cards.js"></script>
    <script src="/js/add_card.js"></script>
    <script src="/js/get_rewards.js"></script>
  </body>
</html>
