<!DOCTYPE html>
<html>
  <head>
    <title>Starbucks Online Store</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav id="nav">
      <div class="nav-wrapper white">
        <a
          href="#"
          class="brand-logo left green-text text-darken-3"
          style="padding-left: 2em"
        >
          Online Store
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="sass.html" class="black-text left nav-text">Cards</a>
          </li>
          <li><a href="/logout" class="red-text nav-text">Sign Out</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="row container flex-center" style="margin-top: 50px;">
        <div class="col s12 m4 l3 ">
          <a href="/home" class="black-text left nav-text">
            <div class="back-button container flex-center">
              <i class="medium material-icons">arrow_back</i>
              <span>Back</span>
            </div>
          </a>
        </div>
        <div class="col s12 m8 l9">
          <div class="container pad flex-center" id="card"></div>
          <div class="container flex-center">
            <div class="input-field col s12">
              <select id="amount"  onChange="validateButton()">
                <option disabled selected>Select amount</option>
                <option value="10">$10</option>
                <option value="20">$20</option>
                <option value="50">$50</option>
                <option value="100">$100</option>
              </select>
            </div>
            <button disabled
              id="checkout"
              onclick="console.log('add money button clicked');"
              class="btn-large waves-effect waves-light green darken-3"
            >
              Add Money
            </a>
            <script>
              var stripe = Stripe('pk_test_51IredNELdiv23YD4JIDcz7qbPEv9QWQpXQ8m0VQnWNLfp9NFe28jqTFK0j2aOpJ7jR9MuRkxWJEXp2jkaktXgN5g00oHTiFkjQ');
              var checkoutButton = document.getElementById('checkout');
              var amount = document.getElementById('amount');
              var urlString = window.location.href;
              var urlArray = urlString.split('/');
              var cardNum = urlArray[urlArray.length - 1];

              function validateButton(){
                amount = $('select').val()
                if(amount){
                  checkoutButton.disabled = false;
                }
              }
              checkoutButton.addEventListener('click', function() {
                // Create a new Checkout Session using the server-side endpoint you
                // created in step 3.
                amount = $('select').val()
                var object = {price: amount, card: cardNum}
                console.log(object)
                fetch('/create-checkout-session', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(object)
                })
                .then(function(response) {
                  return response.json();
                })
                .then(function(session) {
                  return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function(result) {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, you should display the localized error message to your
                  // customer using `error.message`.
                  if (result.error) {
                    alert(result.error.message);
                  }
                  // fetch(`http://localhost:8080/cards/${cardNum}/${amount}`,{
                  //   method: "POST"
                  // }).then((res) => res.json()).then((card) => console.log(card));
                })
                .catch(function(error) {
                  console.error('Error:', error);
                });
              });
            </script>
          </div>
        </div>
      </div>
    </main>
    <!-- ALWAYS INCLUDE THESE -->
    <script src="/js/sticky_nav.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- ALWAYS INCLUDE THESE -->

    <script type="module" src="/js/get_card.js"></script>

    <script>
      $(document).ready(function() {
         $('select').formSelect();
     });
   </script>
  </body>
</html>
