<!DOCTYPE html>
<html>
  <head>
    <title>Starbucks Online Store</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"
      defer
    ></script>
    <script
      src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"
      defer
    ></script>
  </head>
  <body>
    <main>
      <div class="row">
        <h2 class="col s8 offset-s4">Sign In</h2>
        <form id="login" class="col s8 offset-s4">
          <div class="row">
            <div class="input-field col s6">
              <input id="email" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="password" type="password" class="validate" />
              <label for="password">Password</label>
            </div>
          </div>
          <button>Sign in</button>
        </form>
        <span class="col s8 offset-s4">
          Don't have an account?
          <a href="http://localhost:8900/signup">Sign up here</a></span
        >
      </div>

      <div class="col s12 m6 offset-m3 center-align">
        <button
          id="google-signin"
          class="oauth-container btn darken-4 white black-text"
          style="text-transform: none"
        >
          <div class="left">
            <img
              width="20px"
              style="margin-top: 7px; margin-right: 8px"
              alt="Google sign-in"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            />
          </div>
          Sign in with Google
        </button>
      </div>
    </main>
    <script src="/js/signin.js"></script>
    <script src="/js/google-signin.js"></script>
  </body>
</html>
